parameters:
    level: 5
    paths:
        - app/
        - database/migrations/
        - database/factories/
        - database/seeders/
        - routes/
    excludePaths:
        analyseAndScan:
            - storage
